* {
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

header, .Vtrheader{
    width: 100%;
    height: 100px;
}

header{
    position: fixed;
    border-bottom: 1px solid black;
    background-color: rgb(255, 232, 232);
}

.box {
    margin-top: 5%;
    height: 300px;
    padding: 10px;
    gap: 10px;
}



.box::-webkit-scrollbar{
    display: none;
}

.box:first-child{
    margin-top: 15%;
}

.box > p{
    height: 100px;
    display: block;
    padding-left: 5%;
    font-size: 30px;
}

.box > .divs:not(#my){
    width: 100%;
    overflow: auto;
}

.box > .divs > div {
    display: flex;
    white-space: nowrap;
    padding-left: 8%;
    width: 200vw;
    height: 200px;
    overflow: auto;
    flex-shrink: 0;
}

.box > .divs > div > button, .box > .divs > div > a{
    float: left;
    margin-left: 1%;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 20%;
    border: 4px solid black;
}

.box > .divs > div > button:hover, .box > .divs > div > a:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px rgb(255, 43, 43);
    transition: 0.5s;
}

.box > .divs > div > a{
    background-color: whitesmoke;
}

.box > .divs > div > a::after{
    position: relative;
    content: '+';
    top: 25%;
    left: 40%;
    transform: translate(0%, -50%);
    font-size: 50px;
}

.Title > strong > a{
    font-size: 20px;
}

header > .Com-Title{
    display: flex;
    height: 100%;
    width: 20%;
    min-width: 250px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    float: left;
    font-family: 'KyoboHandwriting2023wsa';
}

@media (max-width: 700px) {
    .Com-Title > strong > a{
        font-size: 20px;
    }

    header > .Com-Title{
        display: flex;
        height: 100%;
        width: 10%;
        min-width: 250px;
        justify-content: center;
        align-items: center;
        float: left;
        font-family: 'KyoboHandwriting2023wsa';
    }

    .box > .divs > div > button, .box > .divs > div > a{
        float: left;
        margin-left: 1%;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 20%;
        border: 4px solid black;
    }

    .box > .divs > div {
        height: 150px;
    }
    
}