.main-banner-btn button{
    float: right;
    border: none;
    background-color: rgb(106, 171, 255);
    padding: 15px;
    border-radius: 15px;
    font-size: large;
}

.main-banner{
    font-family: 'KyoboHandwriting2023wsa';
}

@media (min-width: 1200px) {
    .main-banner{
        width: 100%;
        height: auto;
        min-height: 80vh;
        display: grid;
        grid-template-areas: 
        ". main-banner-container main-banner-img ."
        ". main-banner-btn main-banner-img .";
        grid-template-columns: 1fr 5fr 5fr 1fr;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 1%;
        background-color: rgb(250, 234, 192);
        align-content: center;
    }

    .main-banner-container{
        grid-area: main-banner-container;
        display: grid;
        grid-template-areas: "main-banner-content-strong main-banner-content-strong main-banner-content-strong main-banner-content-strong"
        "main-banner-content-p main-banner-content-p main-banner-content-p main-banner-content-p";
        grid-template-rows: 1fr 6fr;
    }

    .main-banner-container strong{
        grid-area: main-banner-content-strong;
        font-size: 60px;
    }

    .main-banner-container p{
        grid-area: main-banner-content-p;
        font-size: 40px;
    }

    .main-banner > img{
        width: 90%;
        grid-area: main-banner-img;
    }

    .main-banner-btn{
        grid-area: main-banner-btn;
    }

    
}

@media (max-width: 1199px) {
    .main-banner{
        width: 100%;
        height: auto;
        min-height: 80vh;
        display: block;
        justify-items: center;
        background-color: rgb(250, 234, 192);
    }

    .main-banner-container strong{
        font-size: 50px;
    }

    .main-banner-container p{
        font-size: 30px;
    }

    .main-banner-container{
        margin-top: 5%;
        width: 80%;
    }

    .main-banner-btn button{
        margin-top: 15%;
    }
    
}
