@media (min-width: 831px) {
    .Section{
        margin-top: 5%;
        height: 60vh;
        display: grid;
        grid-template-areas: 
        ". Section-container Section-icon Section-icon"
        "Section-img Section-img Section-img Section-img";
        grid-template-columns: 1fr 7fr 7fr 1fr;
        grid-template-rows:  30% 70%;
        overflow: hidden;
    }


    .Section-container{
        grid-area: Section-container;
        font-size: 13px;
    }

    .Section-container strong{
        font-size: 30px;
        white-space: normal;
        overflow-wrap: break-word;
    }

    .Section-icon{
        grid-area: Section-icon;
        display: flex;
        justify-content: center;
    }

    .Section-icon > div{
        height: 90%;
        width: 30%;
        font-size: 0.5em;
        display: grid;
        grid-template-areas: 
            'icon-img icon-img icon-img'
            'icon-text icon-text icon-text';
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-rows: 50% 50%;
    }
    .Section-icon >div > .icon-img{
        grid-area: icon-img;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .Section-icon >div > .icon-img >img{
        height: 100%;
    }
    .Section-icon >div >.icon-text{
        grid-area: icon-text;
    }
    .Section-icon >div >.icon-text> strong{
        display: block;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .Section-icon >div > .icon-text > p{
        margin: auto;
        width: 60%;
    }

    .Section-img{
        grid-area: Section-img;
        display: flex;
    }

    .Section-img > img{
        height: 90%;
        margin: auto;
        border-radius: 15px;
    }
}

@media (max-width:830px) {
    .Section{
        display: grid;
        margin-top: 5%;
        height: auto;

        /* 모양 조절 */
        grid-template-areas: 
        'Section-container Section-container Section-container'
        'Section-img Section-img Section-img'
        'Section-icon Section-icon Section-icon';

        grid-template-rows: auto 50% auto;
    }
    
    .Section-container{
        grid-area: Section-container;
    }
    .Section-container > div{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: center;
    }


    .Section-icon{
        grid-area: Section-icon;
        display: flex;
        justify-content: center;
    }

    .Section-icon > div{
        height: 90%;
        width: 30%;
        font-size: 0.5em;
        display: grid;
        grid-template-areas: 
            'icon-img icon-img icon-img'
            'icon-text icon-text icon-text';
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-rows: 50% 50%;
    }
    .Section-icon >div > .icon-img{
        grid-area: icon-img;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .Section-icon >div > .icon-img >img{
        margin: auto;
        height: 80%;
    }
    .Section-icon >div >.icon-text{
        grid-area: icon-text;
    }
    .Section-icon >div >.icon-text> strong{
        display: block;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .Section-icon >div > .icon-text > p{
        margin: auto;
        width: 95%;
    }

    .Section-img{
        grid-area: Section-img;
        display: flex;
        height: 100%;
    }
    .Section-img > img{
        height: 80%;
        border-radius: 15px;
        margin: auto;
    }
}